.episodes.buy {
  height: auto;
  .navigation__button-group-toggle {
    display: none;
  }
  .navigation__button-group {
    display: none;
  }
  .container {
    padding-left: 1em;
    padding-right: 1em;
    @include outer-container;
    text-align: center;
    margin-top: em(100);
    @include media($medium-screen-up) {
      margin-top: 10%;
    }
  }
  .popup {
    margin: 0 auto;
    max-width: 360px;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px $black-20;
  }
  .popup__header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 1em;
  }
  .popup__body {
    margin-bottom: 1em;
    color: $black-87;
    .price {
      font-weight: bold;
    }
  }

  a[data-dismiss] {
    color: $black-54;
    border: 1px solid $black-54;
    &:hover {
      background-color: transparent;
    }
  }
}
