%section#cards
  %br
  %h1 카드
  %article 설명 머시기 머시기
  %section
    %h2 웹툰 카드
    %article ㅁㄴㅇㄹㅁㄴㅇㄹ 설명
    .components_box
      .components_box_upper
        .webtoon-list__wrapper
          %ul.webtoon-list--expandable
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__label--new
                    %span 신작
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
                    .webtoon-card__label--up
                      %span.a11y UP
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li.is-more
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li
              .webtoon-card
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
    .components_box
      .components_box_upper
        .webtoon-wide-card__wrapper
          %ul.grid
            %li.grid-item{data: {columns: { large: 5, medium: 2, small: 1}}}
              .webtoon-card--wide
                %a{href:'#'}
                  .webtoon-card__label--new
                    %span 신작
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
                    .webtoon-card__label--up
                      %span.a11y 
            %li.grid-item{data: {columns: { large: 5, medium: 2, small: 1}}}
              .webtoon-card--wide
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li.grid-item{data: {columns: { large: 5, medium: 2, small: 1}}}
              .webtoon-card--wide
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li.grid-item{data: {columns: { large: 5, medium: 2, small: 1}}}
              .webtoon-card--wide
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
            %li.grid-item{data: {columns: { large: 5, medium: 2, small: 1}}}
              .webtoon-card--wide
                %a{href:'#'}
                  .webtoon-card__thumb
                  .webtoon-card__body
                    .webtoon-card__name
                      %span webtoon.name
                    .webtoon-card__author
                      %span webtoon.writer_name
                    .webtoon-card__genre
                      %span webtoon.game
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
  %section#rank
    %h2 랭킹
    %article 설명
    .components_box
      .components_box_upper
        .rank__wrapper
          .rank
            .ranking__wrapper
              %ul
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
          .rank
            .ranking__wrapper
              %ul
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
                %li
                  %a{href:'#'}
                    .ranking__thumbnail
                    .ranking__body
                      .ranking__name
                        %span webtoon.name
                      .ranking__author
                        %span webtoon.writer_ name
                      .ranking__genre
                        %span webtoon.game
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
          %pre
            %code.tab-pane.html
              :preserve
            %code.tab-pane.haml
              :preserve
  %section 
    %h2 연구소 카드?
    %article 설명
    .components_box
      .components_box_upper
        .quiz-list__wrapper
          %ul.quiz-list
            %li
              .lab
                %a{href:'#'}
                  .lab__thumb
                  .lab__body
                    .lab__title
                      %span quiz.name
                    .lab__users
                      %span quiz.counter명이 참여함
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
  %section
    %br 
    %h2 보드 카드
    %article 설명
    .components_box
      .components_box_upper
        .board-list__wrapper
          %ul.board-list
            %li
              .board__card
                %a{href:'#'}
                  %img.board__avatar{src:"https://placehold.it/80x80"}
                  .board__user-name
                    %span user.name
                  .board__greeting
                    %span greeting
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
                
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
  %section
    %br 
    %h2 페이퍼
    %article 설명
    .components_box
      .components_box_upper
        .paper-list__wrapper
          %ul.paper-list
            %li
              .item--card
                %a{href:'#'}
                  .item__cover
                  .item__content
                    %h2 item.title
                    %p item.truncated_contents(50)
                %a{href:'#'}
                  .item__info
                    %img.item__author-avatar{src:'https://placehold.it/32x32'}
                    %span.feed-item__author item.user.name
            %li
              .item--card
                %a{href:'#'} 
                  .item__content
                    %h2 item.title
                    %p item.truncated_contents(100)
                %a{href:'#'}
                  .item__info
                    %img.item__author-avatar{src:'https://placehold.it/32x32'}
                    %span.feed-item__author item.user.name
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
  %section
    %br 
    %h2 일러스트
    %article 설명
    .components_box
      .components_box_upper
        .fanart-list
          %ul.grid
            %li.grid-item{data: {columns: {large: 5, medium: 5, small: 3}}}
              .fanart-item
                %a{href:"#"}
                  .fanart-item__thumb
                  .fanart-item__caption
                    .fanart-item__title
                      %span item.title
                    .fanart-item__author
                      %span item.author
                  .fanart-item__meta
                    %span.pick-count &0
                    %span.comment-count 0
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve
  %section.episodes-list
    %br 
    %h2 에피소드
    %article 설명
    .components_box
      .components_box_upper
        %ul
          %li.episode-list-item{data:{up:true}}
            %a{href:"#"}
              .episode__index
                %span 2
              .episode__thumb
              .episode__content
                .content__title
                  %span episode.name
                .info__updated-at
                  %span episode.ctime.to_date
                .content__info
                  %span.info__pick 0
                  %span.info__reply 0
          %li.episode-list-item
            %a{href:"#"}
              .episode__index
                %span 1
              .episode__thumb
              .episode__content
                .content__title
                  %span episode.name
                .info__updated-at
                  %span episode.ctime.to_date
                .content__info
                  %span.info__pick 0
                  %span.info__reply 0
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve