%section#cards
  %br
  %h1 그리드
  %article 설명 머시기 머시기
  %section
    %h2 ~ 
    %article ㅁㄴㅇㄹㅁㄴㅇㄹ 설명
    .components_box
      .components_box_upper
      .components_box_lower
        .language_wraper
          %ul
            %li.html
              %span HTML
            %li.haml
              %span HAML
        %pre
          %code.tab-pane.html
            :preserve
          %code.tab-pane.haml
            :preserve