%header.main-header{role: 'banner'}
  .main-header-wrapper
    %a.logo{href:"/"}
      %span.a11y 배틀코믹스
      %img{src:'../assets/images/logo.svg', alt: '배틀코믹스 로고'}
    %nav.main-header__navigation
      %ul.navigation__menu
        %li.menu__item 
          %a{href:'/components.html'} 얍
        %li.menu__item 
          %a{href:'/layout.html'} 얍
        %li.menu__item 
          %a{href:'/'} 얍