@charset "utf-8";
@import "components/tab";

* {margin: 0;}
.hljs {
  width: 100%;
}
.language_wraper{
  @extend %bottom_lined_tab;
  margin-top: 1em;
  margin-bottom: 0;
  ul {
    max-width: em(600);
    li{
      color: rgba(0, 0, 0, 0.33);
      cursor: pointer;
      transition: color 150ms ease;
      &.active{
        color: $violet;
      }
    }
  }
}
pre {
    width: 100%;
    display: flex;
    code.haml{
      display: none;
    }
  }