body[data-pages="1"] {
  button[data-pages="single"] {
    opacity: 0.4;
  }
}
body[data-pages="2"] {
  button[data-pages="double"] {
    opacity: 0.4;
  }
}

body[data-direction="ttb"] {
  .page-controller {
    display: none;
  }
}
body[data-direction="rtl"] {
  .rangeslider__fill {
    background-color: #e6e6e6;
  }
  .rangeslider {
    background-color: $violet;
  }
}
.page-controller {
  cursor: auto;
  max-width: em(720);
  display: none;
  background-color: rgba(#000000, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 20;
  bottom: 3.75em;
  @include media($large-screen-up){
    margin: 0 auto;
    bottom: 100px;
  }
  color: white;
  padding: em(12);
  border-radius: $base-border-radius;
  &.active {
    display: block;
  }
  .slider {
    width: 100%;
    @include media($medium-screen-up){
      width: 450px;
    }
    display: inline-block;
    vertical-align: middle;
    margin-right: em(24);
  }

  .page-indicator {
    display: inline-block;
    vertical-align: middle;
    font-size: em(14);
    float: none;
    @include media($medium-screen-up) {
      float: right;
    }
    button {
      font-size: em(10);
      width: rem(40);
      height: rem(40);
    }
    button[data-move-to="start"]:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      height: rem(28);
      background-image: url(asset-path('icons/viewer-left-arrow.svg'));
    }
    button[data-move-to="end"]:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      height: rem(28);
      background-image: url(asset-path('icons/viewer-right-arrow.svg'));
    }
  }
  .page-pages {
    display: none;
    @include media($medium-screen-up) {
      display: inline-block;
    }
    button {
      font-size: em(10);
      width: rem(40);
      height: rem(40);
    }
    button[data-pages="single"]:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      height: rem(28);
      background-image: url(asset-path('icons/viewer-1-p.svg'));
    }
    button[data-pages="double"]:before {
      content: '';
      display: block;
      background-repeat: no-repeat;
      background-position: center;
      height: rem(28);
      background-image: url(asset-path('icons/viewer-2-p.svg'));
    }
  }
  button {
    border: 0;
    color: white;
    padding: 0;
    margin: 0;
  }
  button:hover {
    border: 0;
    opacity: 0.4;
    background-color: transparent;
    color: white;
  }
  .recommends {
    display: none;
  }
  .recommends.active {
    display: block;
  }
  .recommends h1 {
    text-align: left;
    font-weight: normal;
    margin-bottom: 0.25em;
  }
  .recommended-item--page {
    padding: 0 0.25em;
    @include media($medium-screen-up) {
      padding: 0 1em;
    }
    color: white;
    text-align: left;
  }
  .recommended-item--page__thumb {
    @include aspect-ratio(140, 100);
    @include opacity-border;
    background-color: $black-20;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .recommended-item--page__name {
    font-size: em(12);
    @include media($medium-screen-up) {
      font-size: em(16);
    }
    color: white;
    @include ellipsis;
  }
  .recommended-item--page__author {
    display: none;
    color: white;
    @include media($medium-screen-up) {
      display: block;
      font-size: em(12);
    }
  }
}
