[data-tooltip] {
  position: relative;
  &:after {
    position: absolute;
    visibility: hidden;
  }
  &:hover:after {
    visibility: visible;
    opacity: .8;
  }
  &:after {
    z-index: 1000;
    content: attr(data-tooltip);
    font-size: .8em;
    width: 160px;
    background-color: $dark-gray;
    color: white;
    text-align: center;
    border-radius: $base-border-radius;
  }
}
